#-*-Makefile-*- vim:syntax=make

PLATFORM = nthfs
MSP_MCU = msp430f5438a

ifdef CC2520_CHANNEL
PFLAGS += -DCC2520_DEF_CHANNEL=$(CC2520_CHANNEL)
endif

$(call TOSMake_include_platform,msp)

nthfs: $(BUILD_DEPS)
        @:
